body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.timeline {
  text-align: center;
  left: 50%;
  right: 50%;
  margin: 40px;
}
td {
  width: 200px;
  text-align: right;
  height: 70px;
}

.inputTable {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 10px;
}
.spinner-container {


  margin-top: 20px;
}
.spinner {
  margin-left: auto;
  margin-right: auto;

  width: 60px;
  text-align: center;
  float: center;
}
.bookTable {
  position: relative;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 20px;
}
.bookTable td {
  text-align: right;
  height: 50px;
}

.border {
  border-color: black;
}
.border-hover:hover {
  cursor: not-allowed;
}
.available {
  border: 0.7px solid black;
  background-color: white;
}
.available:hover {
  background-color: rgb(96, 189, 153);
  cursor: pointer;
}

.find_button {
  margin: 20px;
  width: 100px;
  height: 30px;
  border-style: none;
}

select.form-control {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 15px;
  padding: 0px 10px 2px 10px;
}
.dateselect {
  width: 100%;
  border-radius: 3px;
  border: solid 1px rgba(164, 158, 158, 0.365);
  padding: 2px 0;
  margin-left: none;
}
.userinput {
  margin-left: 7px;
}
.search {
  padding-right: 20px;
}
